-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: neighborhood_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `t_admin_blacklist`
--

DROP TABLE IF EXISTS `t_admin_blacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_blacklist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `target_type` varchar(20) NOT NULL,
  `target_value` varchar(255) NOT NULL,
  `reason` varchar(255) DEFAULT '',
  `creator` varchar(64) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_target` (`target_type`,`target_value`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯é»‘åå•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_blacklist`
--

LOCK TABLES `t_admin_blacklist` WRITE;
/*!40000 ALTER TABLE `t_admin_blacklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_blacklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_image_status`
--

DROP TABLE IF EXISTS `t_admin_image_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_image_status` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image_url` varchar(500) NOT NULL,
  `status` varchar(20) DEFAULT 'approved',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_image_url` (`image_url`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯å›¾ç‰‡çŠ¶æ€è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_image_status`
--

LOCK TABLES `t_admin_image_status` WRITE;
/*!40000 ALTER TABLE `t_admin_image_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_image_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_login_log`
--

DROP TABLE IF EXISTS `t_admin_login_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_login_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(64) DEFAULT '',
  `username` varchar(64) DEFAULT '',
  `ip` varchar(64) DEFAULT '',
  `device` varchar(255) DEFAULT '',
  `location` varchar(100) DEFAULT '',
  `status` varchar(20) DEFAULT 'success',
  `fail_reason` varchar(255) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_create_time` (`create_time` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯ç™»å½•æ—¥å¿—è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_login_log`
--

LOCK TABLES `t_admin_login_log` WRITE;
/*!40000 ALTER TABLE `t_admin_login_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_login_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_menu`
--

DROP TABLE IF EXISTS `t_admin_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_menu` (
  `id` varchar(64) NOT NULL,
  `parent_id` varchar(64) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `path` varchar(120) DEFAULT '',
  `icon` varchar(64) DEFAULT '',
  `sort_order` int DEFAULT '0',
  `status` varchar(20) DEFAULT 'active',
  `type` varchar(20) DEFAULT 'menu',
  `permission_code` varchar(100) DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯èœå•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_menu`
--

LOCK TABLES `t_admin_menu` WRITE;
/*!40000 ALTER TABLE `t_admin_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_operation_log`
--

DROP TABLE IF EXISTS `t_admin_operation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_operation_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `operator` varchar(64) DEFAULT '',
  `role_name` varchar(64) DEFAULT '',
  `action_name` varchar(100) DEFAULT '',
  `target` varchar(255) DEFAULT '',
  `ip` varchar(64) DEFAULT '',
  `status` varchar(20) DEFAULT 'success',
  `details` varchar(500) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_create_time` (`create_time` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯æ“ä½œæ—¥å¿—è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_operation_log`
--

LOCK TABLES `t_admin_operation_log` WRITE;
/*!40000 ALTER TABLE `t_admin_operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_permission`
--

DROP TABLE IF EXISTS `t_admin_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_permission` (
  `id` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(100) NOT NULL,
  `category` varchar(100) DEFAULT '',
  `description` varchar(255) DEFAULT '',
  `status` varchar(20) DEFAULT 'active',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_permission_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯æƒé™è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_permission`
--

LOCK TABLES `t_admin_permission` WRITE;
/*!40000 ALTER TABLE `t_admin_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_role`
--

DROP TABLE IF EXISTS `t_admin_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_role` (
  `id` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(64) NOT NULL,
  `description` varchar(255) DEFAULT '',
  `status` varchar(20) DEFAULT 'active',
  `is_system` tinyint(1) DEFAULT '1',
  `menu_ids` text,
  `permission_codes` text,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯è§’è‰²è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_role`
--

LOCK TABLES `t_admin_role` WRITE;
/*!40000 ALTER TABLE `t_admin_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_booking`
--

DROP TABLE IF EXISTS `t_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_booking` (
  `id` bigint NOT NULL COMMENT 'é¢„çº¦ID',
  `service_id` bigint NOT NULL COMMENT 'æœåŠ¡ID',
  `buyer_id` varchar(64) NOT NULL COMMENT 'ä¹°å®¶ID',
  `seller_id` varchar(64) NOT NULL COMMENT 'å–å®¶ID',
  `booking_date` datetime NOT NULL COMMENT 'é¢„çº¦æ—¥æœŸ',
  `booking_time` varchar(50) NOT NULL COMMENT 'é¢„çº¦æ—¶é—´',
  `duration` int DEFAULT '1' COMMENT 'æœåŠ¡æ—¶é•¿(å°æ—¶)',
  `status` varchar(20) DEFAULT 'pending' COMMENT 'çŠ¶æ€: pending confirmed completed cancelled',
  `notification_id` bigint DEFAULT NULL COMMENT 'å…³è”é€šçŸ¥ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_buyer_id` (`buyer_id`),
  KEY `idx_seller_id` (`seller_id`),
  KEY `idx_booking_buyer_status_time` (`buyer_id`,`status`,`create_time`),
  KEY `idx_booking_seller_status_time` (`seller_id`,`status`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é¢„çº¦è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_booking`
--

LOCK TABLES `t_booking` WRITE;
/*!40000 ALTER TABLE `t_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_category`
--

DROP TABLE IF EXISTS `t_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `icon` varchar(64) DEFAULT 'category',
  `type` varchar(20) DEFAULT 'service',
  `status` varchar(20) DEFAULT 'normal',
  `sort_order` int DEFAULT '0',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_type_order` (`type`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='åˆ†ç±»è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_category`
--

LOCK TABLES `t_category` WRITE;
/*!40000 ALTER TABLE `t_category` DISABLE KEYS */;
INSERT INTO `t_category` VALUES (1,'ç”Ÿæ´»æœåŠ¡','category','service','normal',10,'2026-06-05 05:57:26'),(2,'é—²ç½®å•†å“','category','goods','normal',20,'2026-06-05 05:57:26'),(3,'åŠ¨æ€å†…å®¹','category','dynamic','normal',30,'2026-06-05 05:57:26');
/*!40000 ALTER TABLE `t_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_comment`
--

DROP TABLE IF EXISTS `t_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_comment` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è¯„è®ºID',
  `news_id` bigint NOT NULL COMMENT 'åŠ¨æ€ID',
  `parent_id` bigint DEFAULT '0' COMMENT 'çˆ¶è¯„è®ºID',
  `user_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·ID',
  `user_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·å',
  `user_avatar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ç”¨æˆ·å¤´åƒ',
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è¯„è®ºå†…å®¹',
  `likes` int DEFAULT '0' COMMENT 'ç‚¹èµžæ•°',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'normal' COMMENT 'çŠ¶æ€',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_news_id` (`news_id`),
  KEY `idx_parent_id` (`parent_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_news_create` (`news_id`,`create_time` DESC),
  KEY `idx_comment_news_status_time` (`news_id`,`status`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è¯„è®ºè¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_comment`
--

LOCK TABLES `t_comment` WRITE;
/*!40000 ALTER TABLE `t_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_comment_like`
--

DROP TABLE IF EXISTS `t_comment_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_comment_like` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è¯„è®ºç‚¹èµžID',
  `comment_id` bigint NOT NULL COMMENT 'è¯„è®ºID',
  `user_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_comment_user` (`comment_id`,`user_id`),
  KEY `idx_comment_id` (`comment_id`),
  KEY `idx_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è¯„è®ºç‚¹èµžè¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_comment_like`
--

LOCK TABLES `t_comment_like` WRITE;
/*!40000 ALTER TABLE `t_comment_like` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_comment_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_follow`
--

DROP TABLE IF EXISTS `t_follow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_follow` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'ä¸»é”®',
  `follower_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å…³æ³¨è€…ID',
  `following_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è¢«å…³æ³¨è€…ID',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_follow` (`follower_id`,`following_id`),
  KEY `idx_follower` (`follower_id`),
  KEY `idx_following` (`following_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='å…³æ³¨å…³ç³»è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_follow`
--

LOCK TABLES `t_follow` WRITE;
/*!40000 ALTER TABLE `t_follow` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_follow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_market_item`
--

DROP TABLE IF EXISTS `t_market_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_market_item` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'å•†å“ID',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ ‡é¢˜',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT 'æè¿°',
  `price` decimal(10,2) NOT NULL COMMENT 'å”®ä»·',
  `item_condition` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'æˆè‰²',
  `image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ä¸»å›¾',
  `images` json DEFAULT NULL COMMENT 'å›¾ç‰‡åˆ—è¡¨(JSON)',
  `seller_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å–å®¶ID',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'åˆ†ç±»',
  `original_price` decimal(10,2) DEFAULT NULL COMMENT 'åŽŸä»·',
  `location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ä½ç½®',
  `verified` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦è®¤è¯',
  `free_shipping` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦åŒ…é‚®',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT 'çŠ¶æ€',
  `reject_reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'é©³å›žåŽŸå› ',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_category` (`category`),
  KEY `idx_create_time` (`created_at` DESC),
  KEY `idx_price` (`price`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='é—²ç½®å•†å“è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_market_item`
--

LOCK TABLES `t_market_item` WRITE;
/*!40000 ALTER TABLE `t_market_item` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_market_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_message`
--

DROP TABLE IF EXISTS `t_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_message` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æ¶ˆæ¯ID',
  `sender_id` varchar(64) NOT NULL COMMENT 'å‘é€è€…ID',
  `receiver_id` varchar(64) NOT NULL COMMENT 'æŽ¥æ”¶è€…ID',
  `content` text NOT NULL COMMENT 'æ¶ˆæ¯å†…å®¹',
  `message_type` varchar(20) DEFAULT 'text' COMMENT 'æ¶ˆæ¯ç±»åž‹(text/image)',
  `media_url` varchar(500) DEFAULT '' COMMENT 'åª’ä½“åœ°å€',
  `is_read` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_sender` (`sender_id`),
  KEY `idx_receiver` (`receiver_id`),
  KEY `idx_conversation` (`sender_id`,`receiver_id`),
  KEY `idx_create_time` (`create_time` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='æ¶ˆæ¯è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_message`
--

LOCK TABLES `t_message` WRITE;
/*!40000 ALTER TABLE `t_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_news`
--

DROP TABLE IF EXISTS `t_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_news` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'åŠ¨æ€ID',
  `author_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ä½œè€…ID',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'æ ‡é¢˜',
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'åŠ¨æ€å†…å®¹',
  `location` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ä½ç½®',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'ç”Ÿæ´»è®°å½•' COMMENT 'åˆ†ç±»',
  `likes` int DEFAULT '0' COMMENT 'ç‚¹èµžæ•°',
  `comments_count` int DEFAULT '0' COMMENT 'è¯„è®ºæ•°',
  `images` json DEFAULT NULL COMMENT 'å›¾ç‰‡åˆ—è¡¨(JSON)',
  `shares` int DEFAULT '0' COMMENT 'åˆ†äº«æ•°',
  `collections` int DEFAULT '0' COMMENT 'æ”¶è—æ•°',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'approved' COMMENT 'content status',
  `reject_reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'reject reason',
  PRIMARY KEY (`id`),
  KEY `idx_author` (`author_id`),
  KEY `idx_create_time` (`create_time` DESC),
  KEY `idx_likes` (`likes` DESC),
  KEY `idx_category` (`category`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç¤¾åŒºåŠ¨æ€è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_news`
--

LOCK TABLES `t_news` WRITE;
/*!40000 ALTER TABLE `t_news` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_notification`
--

DROP TABLE IF EXISTS `t_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_notification` (
  `id` bigint NOT NULL COMMENT 'é€šçŸ¥ID',
  `user_id` varchar(64) NOT NULL COMMENT 'æŽ¥æ”¶ç”¨æˆ·ID',
  `title` varchar(200) NOT NULL COMMENT 'æ ‡é¢˜',
  `content` text NOT NULL COMMENT 'å†…å®¹',
  `service_name` varchar(200) DEFAULT '' COMMENT 'æœåŠ¡åç§°',
  `time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'é€šçŸ¥æ—¶é—´',
  `is_read` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦å·²è¯»',
  `is_processed` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦å·²å¤„ç†',
  `order_id` bigint DEFAULT NULL COMMENT 'å…³è”è®¢å•ID',
  `related_booking_id` bigint DEFAULT NULL COMMENT 'å…³è”é¢„çº¦ID',
  PRIMARY KEY (`id`),
  KEY `idx_notify_user_time` (`user_id`,`time`),
  KEY `idx_notify_booking` (`related_booking_id`),
  KEY `idx_notify_order` (`order_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='é€šçŸ¥è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_notification`
--

LOCK TABLES `t_notification` WRITE;
/*!40000 ALTER TABLE `t_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_order`
--

DROP TABLE IF EXISTS `t_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_order` (
  `id` bigint NOT NULL COMMENT 'è®¢å•ID',
  `booking_id` bigint DEFAULT NULL COMMENT 'å…³è”é¢„çº¦ID',
  `buyer_id` varchar(64) NOT NULL COMMENT 'ä¹°å®¶ID',
  `seller_id` varchar(64) NOT NULL COMMENT 'å–å®¶ID',
  `service_id` bigint DEFAULT NULL COMMENT 'æœåŠ¡ID',
  `service_title` varchar(200) DEFAULT '' COMMENT 'æœåŠ¡æ ‡é¢˜',
  `price` decimal(10,2) DEFAULT NULL COMMENT 'ä»·æ ¼',
  `booking_date` datetime DEFAULT NULL COMMENT 'é¢„çº¦æ—¥æœŸ',
  `booking_time` varchar(50) DEFAULT NULL COMMENT 'é¢„çº¦æ—¶é—´',
  `duration` int DEFAULT '1' COMMENT 'æœåŠ¡æ—¶é•¿(å°æ—¶)',
  `status` varchar(20) DEFAULT 'pending' COMMENT 'çŠ¶æ€: pending confirmed in_progress completed cancelled',
  `cancel_reason` varchar(255) DEFAULT '' COMMENT 'å–æ¶ˆåŽŸå› ',
  `completed_time` datetime DEFAULT NULL COMMENT 'å®Œæˆæ—¶é—´',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_buyer_id` (`buyer_id`),
  KEY `idx_seller_id` (`seller_id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_status_time` (`status`,`create_time` DESC),
  KEY `idx_buyer_status_ctime` (`buyer_id`,`status`,`create_time`),
  KEY `idx_seller_status_ctime` (`seller_id`,`status`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='è®¢å•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_order`
--

LOCK TABLES `t_order` WRITE;
/*!40000 ALTER TABLE `t_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_review_like`
--

DROP TABLE IF EXISTS `t_review_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_review_like` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è¯„ä»·ç‚¹èµžID',
  `review_id` bigint NOT NULL COMMENT 'è¯„ä»·ID',
  `user_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_review_user` (`review_id`,`user_id`),
  KEY `idx_review_id` (`review_id`),
  KEY `idx_review_user_id` (`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='è¯„ä»·ç‚¹èµžè¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_review_like`
--

LOCK TABLES `t_review_like` WRITE;
/*!40000 ALTER TABLE `t_review_like` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_review_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_service`
--

DROP TABLE IF EXISTS `t_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_service` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'æœåŠ¡ID',
  `title` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ ‡é¢˜',
  `description` text COLLATE utf8mb4_unicode_ci COMMENT 'æè¿°',
  `category` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'åˆ†ç±»',
  `price` decimal(10,2) NOT NULL COMMENT 'ä»·æ ¼',
  `image` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'å°é¢å›¾',
  `seller_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æœåŠ¡å•†ID',
  `rating` double DEFAULT '0' COMMENT 'è¯„åˆ†',
  `reviews` int DEFAULT '0' COMMENT 'è¯„ä»·æ•°',
  `distance` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'è·ç¦»',
  `unit` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'å•ä½',
  `highlights` json DEFAULT NULL COMMENT 'äº®ç‚¹(JSON)',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'active' COMMENT 'çŠ¶æ€',
  `reject_reason` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'é©³å›žåŽŸå› ',
  `area` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'æœåŠ¡åŒºåŸŸ',
  `phone` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'è”ç³»ç”µè¯',
  `latitude` double DEFAULT NULL COMMENT 'çº¬åº¦',
  `longitude` double DEFAULT NULL COMMENT 'ç»åº¦',
  `images` json DEFAULT NULL COMMENT 'å›¾ç‰‡åˆ—è¡¨(JSON)',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_category` (`category`),
  KEY `idx_rating` (`rating` DESC),
  KEY `idx_create_time` (`created_at` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç”Ÿæ´»æœåŠ¡è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_service`
--

LOCK TABLES `t_service` WRITE;
/*!40000 ALTER TABLE `t_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_service_review`
--

DROP TABLE IF EXISTS `t_service_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_service_review` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT 'è¯„ä»·ID',
  `service_id` bigint NOT NULL COMMENT 'æœåŠ¡ID',
  `user_id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·ID',
  `user_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·å',
  `user_avatar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ç”¨æˆ·å¤´åƒ',
  `rating` int NOT NULL COMMENT 'è¯„åˆ†',
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'è¯„ä»·å†…å®¹',
  `likes` int DEFAULT '0' COMMENT 'ç‚¹èµžæ•°',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'normal' COMMENT 'çŠ¶æ€',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_service_review_status_time` (`service_id`,`status`,`create_time`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='æœåŠ¡è¯„ä»·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_service_review`
--

LOCK TABLES `t_service_review` WRITE;
/*!40000 ALTER TABLE `t_service_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_service_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user`
--

DROP TABLE IF EXISTS `t_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user` (
  `id` varchar(64) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'ç”¨æˆ·ID',
  `name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'æ˜µç§°',
  `email` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'é‚®ç®±',
  `password` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'å¯†ç ',
  `admin_role` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT 'USER' COMMENT 'åŽå°è§’è‰²: USER/READONLY_ADMIN/ADMIN/SUPER_ADMIN',
  `avatar` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'å¤´åƒURL',
  `tag` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'æ ‡ç­¾',
  `bio` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT 'ä¸ªäººç®€ä»‹',
  `is_verified` tinyint(1) DEFAULT '0' COMMENT 'æ˜¯å¦è®¤è¯',
  `followers_count` int DEFAULT '0' COMMENT 'ç²‰ä¸æ•°',
  `following_count` int DEFAULT '0' COMMENT 'å…³æ³¨æ•°',
  `rating` double DEFAULT '0' COMMENT 'è¯„åˆ†',
  `sold_count` int DEFAULT '0' COMMENT 'æˆäº¤æ•°',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `phone` varchar(32) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `region` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT '',
  `status` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `profile_visible` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'public',
  `posts_visible` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'public',
  `show_location` tinyint(1) DEFAULT '1',
  `push_enabled` tinyint(1) DEFAULT '1',
  `message_notify` tinyint(1) DEFAULT '1',
  `follow_notify` tinyint(1) DEFAULT '1',
  `like_notify` tinyint(1) DEFAULT '1',
  `comment_notify` tinyint(1) DEFAULT '1',
  `system_notify` tinyint(1) DEFAULT '0',
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_name` (`name`),
  KEY `idx_admin_role` (`admin_role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='ç”¨æˆ·è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user`
--

LOCK TABLES `t_user` WRITE;
/*!40000 ALTER TABLE `t_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'neighborhood_db'
--

--
-- Dumping routines for database 'neighborhood_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05  7:18:25
