-- MySQL dump 10.13  Distrib 8.0.46, for Linux (x86_64)
--
-- Host: localhost    Database: neighborhood_db
-- ------------------------------------------------------
-- Server version	8.0.46

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `t_admin_blacklist`
--

DROP TABLE IF EXISTS `t_admin_blacklist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_blacklist` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `target_type` varchar(20) NOT NULL,
  `target_value` varchar(255) NOT NULL,
  `reason` varchar(255) DEFAULT '',
  `creator` varchar(64) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_target` (`target_type`,`target_value`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_blacklist`
--

LOCK TABLES `t_admin_blacklist` WRITE;
/*!40000 ALTER TABLE `t_admin_blacklist` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_blacklist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_image_status`
--

DROP TABLE IF EXISTS `t_admin_image_status`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_image_status` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `image_url` varchar(500) NOT NULL,
  `status` varchar(20) DEFAULT 'approved',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_image_url` (`image_url`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_image_status`
--

LOCK TABLES `t_admin_image_status` WRITE;
/*!40000 ALTER TABLE `t_admin_image_status` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_image_status` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_login_log`
--

DROP TABLE IF EXISTS `t_admin_login_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_login_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `user_id` varchar(64) DEFAULT '',
  `username` varchar(64) DEFAULT '',
  `ip` varchar(64) DEFAULT '',
  `device` varchar(255) DEFAULT '',
  `location` varchar(100) DEFAULT '',
  `status` varchar(20) DEFAULT 'success',
  `fail_reason` varchar(255) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_create_time` (`create_time` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=119 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_login_log`
--

LOCK TABLES `t_admin_login_log` WRITE;
/*!40000 ALTER TABLE `t_admin_login_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_login_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_menu`
--

DROP TABLE IF EXISTS `t_admin_menu`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_menu` (
  `id` varchar(64) NOT NULL,
  `parent_id` varchar(64) DEFAULT NULL,
  `name` varchar(100) NOT NULL,
  `path` varchar(120) DEFAULT '',
  `icon` varchar(64) DEFAULT '',
  `sort_order` int DEFAULT '0',
  `status` varchar(20) DEFAULT 'active',
  `type` varchar(20) DEFAULT 'menu',
  `permission_code` varchar(100) DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯èœå•è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_menu`
--

LOCK TABLES `t_admin_menu` WRITE;
/*!40000 ALTER TABLE `t_admin_menu` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_menu` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_operation_log`
--

DROP TABLE IF EXISTS `t_admin_operation_log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_operation_log` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `operator` varchar(64) DEFAULT '',
  `role_name` varchar(64) DEFAULT '',
  `action_name` varchar(100) DEFAULT '',
  `target` varchar(255) DEFAULT '',
  `ip` varchar(64) DEFAULT '',
  `status` varchar(20) DEFAULT 'success',
  `details` varchar(500) DEFAULT '',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_create_time` (`create_time` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_operation_log`
--

LOCK TABLES `t_admin_operation_log` WRITE;
/*!40000 ALTER TABLE `t_admin_operation_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_operation_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_permission`
--

DROP TABLE IF EXISTS `t_admin_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_permission` (
  `id` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(100) NOT NULL,
  `category` varchar(100) DEFAULT '',
  `description` varchar(255) DEFAULT '',
  `status` varchar(20) DEFAULT 'active',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_permission_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='ç®¡ç†ç«¯æƒé™è¡¨';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_permission`
--

LOCK TABLES `t_admin_permission` WRITE;
/*!40000 ALTER TABLE `t_admin_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_admin_role`
--

DROP TABLE IF EXISTS `t_admin_role`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_admin_role` (
  `id` varchar(64) NOT NULL,
  `name` varchar(100) NOT NULL,
  `code` varchar(64) NOT NULL,
  `description` varchar(255) DEFAULT '',
  `status` varchar(20) DEFAULT 'active',
  `menu_ids` text,
  `permission_codes` text,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_role_code` (`code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_admin_role`
--

LOCK TABLES `t_admin_role` WRITE;
/*!40000 ALTER TABLE `t_admin_role` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_admin_role` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_booking`
--

DROP TABLE IF EXISTS `t_booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_booking` (
  `id` bigint NOT NULL COMMENT '预约ID',
  `service_id` bigint NOT NULL COMMENT '服务ID',
  `buyer_id` varchar(64) NOT NULL COMMENT '买家ID',
  `seller_id` varchar(64) NOT NULL COMMENT '卖家ID',
  `booking_date` datetime NOT NULL COMMENT '预约日期',
  `booking_time` varchar(50) NOT NULL COMMENT '预约时间',
  `duration` int DEFAULT '1' COMMENT '服务时长(小时)',
  `status` varchar(20) DEFAULT 'pending' COMMENT '状态:pending confirmed completed cancelled',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `notification_id` bigint DEFAULT NULL COMMENT '鍏宠仈鐨勯?鐭?D',
  PRIMARY KEY (`id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_buyer_id` (`buyer_id`),
  KEY `idx_seller_id` (`seller_id`),
  KEY `idx_booking_buyer_status_time` (`buyer_id`,`status`,`create_time` DESC),
  KEY `idx_booking_seller_status_time` (`seller_id`,`status`,`create_time` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='预约表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_booking`
--

LOCK TABLES `t_booking` WRITE;
/*!40000 ALTER TABLE `t_booking` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_category`
--

DROP TABLE IF EXISTS `t_category`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_category` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `name` varchar(100) NOT NULL,
  `icon` varchar(64) DEFAULT 'category',
  `type` varchar(20) DEFAULT 'service',
  `status` varchar(20) DEFAULT 'normal',
  `sort_order` int DEFAULT '0',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  KEY `idx_type_order` (`type`,`sort_order`)
) ENGINE=InnoDB AUTO_INCREMENT=2062571060159971331 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_category`
--

LOCK TABLES `t_category` WRITE;
/*!40000 ALTER TABLE `t_category` DISABLE KEYS */;
INSERT INTO `t_category` VALUES (1,'生活服务','category','service','normal',10,'2026-05-30 23:26:12'),(2,'闲置商品','category','goods','normal',20,'2026-05-30 23:26:12'),(3,'动态内容','category','dynamic','normal',30,'2026-05-30 23:26:12');
/*!40000 ALTER TABLE `t_category` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_comment`
--

DROP TABLE IF EXISTS `t_comment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_comment` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '评论ID',
  `news_id` bigint NOT NULL COMMENT '动态ID',
  `user_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '用户ID',
  `user_name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '用户名',
  `user_avatar` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '用户头像',
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '评论内容',
  `likes` int DEFAULT '0',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `parent_id` bigint DEFAULT '0' COMMENT '父评论ID',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  PRIMARY KEY (`id`),
  KEY `idx_news_id` (`news_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_news_create` (`news_id`,`create_time` DESC),
  KEY `idx_parent_id` (`parent_id`),
  KEY `idx_comment_news_like_time` (`news_id`,`likes`,`create_time`),
  KEY `idx_comment_status_time` (`status`,`create_time` DESC),
  KEY `idx_comment_news_status_time` (`news_id`,`status`,`create_time` DESC),
  KEY `idx_comment_news_status_likes_time` (`news_id`,`status`,`likes`,`create_time` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=2062573295522676738 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='评论表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_comment`
--

LOCK TABLES `t_comment` WRITE;
/*!40000 ALTER TABLE `t_comment` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_comment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_comment_like`
--

DROP TABLE IF EXISTS `t_comment_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_comment_like` (
  `id` bigint NOT NULL COMMENT '主键ID',
  `comment_id` bigint NOT NULL COMMENT '评论ID',
  `user_id` varchar(64) NOT NULL COMMENT '用户ID',
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_comment_user` (`comment_id`,`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='评论点赞表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_comment_like`
--

LOCK TABLES `t_comment_like` WRITE;
/*!40000 ALTER TABLE `t_comment_like` DISABLE KEYS */;
INSERT INTO `t_comment_like` VALUES (2059927565607837698,3,'u001'),(2059914758212493313,4,'2056555272571645954'),(2059929352318427138,2058831434672980000,'2056555272571645954'),(2060021951205154817,2059295147603480600,'2056555272571645954'),(2060239155083272193,2060168121747460097,'2056555272571645954');
/*!40000 ALTER TABLE `t_comment_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_favorite`
--

DROP TABLE IF EXISTS `t_favorite`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_favorite` (
  `id` bigint NOT NULL COMMENT '主键ID',
  `user_id` varchar(64) NOT NULL COMMENT '用户ID',
  `target_type` varchar(20) NOT NULL COMMENT '类型：news/market/service',
  `target_id` bigint NOT NULL COMMENT '目标ID',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_user_target` (`user_id`,`target_type`,`target_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_favorite_user_time` (`user_id`,`create_time` DESC),
  KEY `idx_favorite_target` (`target_type`,`target_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='收藏表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_favorite`
--

LOCK TABLES `t_favorite` WRITE;
/*!40000 ALTER TABLE `t_favorite` DISABLE KEYS */;
INSERT INTO `t_favorite` VALUES (2059086854243196930,'2056555272571645954','news',999,'2026-05-26 09:38:56'),(2059164602273828865,'2056555272571645954','news',1,'2026-05-26 14:47:53'),(2059171652894658561,'2056555272571645954','news',2057307709922213890,'2026-05-26 15:15:54'),(2059172870534664194,'2056555272571645954','news',2057351368537436161,'2026-05-26 15:20:44');
/*!40000 ALTER TABLE `t_favorite` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_follow`
--

DROP TABLE IF EXISTS `t_follow`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_follow` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '主键',
  `follower_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '关注者ID',
  `following_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '被关注者ID',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_follow` (`follower_id`,`following_id`),
  KEY `idx_follower` (`follower_id`),
  KEY `idx_following` (`following_id`),
  KEY `idx_follow_follower_following` (`follower_id`,`following_id`)
) ENGINE=InnoDB AUTO_INCREMENT=2062777156313235458 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='关注关系表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_follow`
--

LOCK TABLES `t_follow` WRITE;
/*!40000 ALTER TABLE `t_follow` DISABLE KEYS */;
INSERT INTO `t_follow` VALUES (2056752382801739778,'2056555272571645954','undefined','2026-05-19 23:02:35'),(2059186480841445378,'2056555272571645954','u004','2026-05-26 16:14:49'),(2059192137195933697,'2056555272571645954','u005','2026-05-26 16:37:18'),(2060241707631828993,'2056555272571645954','u002','2026-05-29 14:07:55');
/*!40000 ALTER TABLE `t_follow` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_market_item`
--

DROP TABLE IF EXISTS `t_market_item`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_market_item` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '物品ID',
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '标题',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT '描述',
  `price` decimal(10,2) NOT NULL COMMENT '售价',
  `item_condition` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '成色',
  `images` varchar(2000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `seller_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '卖家ID',
  `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '分类',
  `original_price` decimal(10,2) DEFAULT NULL COMMENT '原价',
  `location` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '位置',
  `verified` tinyint(1) DEFAULT '0' COMMENT '是否认证',
  `free_shipping` tinyint(1) DEFAULT '0' COMMENT '是否包邮',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `reject_reason` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_category` (`category`),
  KEY `idx_create_time` (`created_at` DESC),
  KEY `idx_price` (`price`),
  KEY `idx_market_seller_id` (`seller_id`,`id`),
  KEY `idx_market_status_id` (`status`,`id` DESC),
  KEY `idx_market_seller_time` (`seller_id`,`created_at` DESC),
  KEY `idx_market_seller_id_id` (`seller_id`,`id` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=2062571059706986499 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='闲置物品表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_market_item`
--

LOCK TABLES `t_market_item` WRITE;
/*!40000 ALTER TABLE `t_market_item` DISABLE KEYS */;
INSERT INTO `t_market_item` VALUES (1,'Test Coffee Machine',NULL,3200.00,'95成新','[\"/api/file/images/2026/05/25da6aa966dabf41deb7bb9f78295bb04c.jpg\"]','u002','',NULL,'',0,0,'2026-05-22 11:02:12','2026-05-25 10:42:20','active',''),(2,'Nintendo Switch 日版蓝红 - 带健身环','吃灰半年，全套包装齐全。',1800.00,'99新','[\"/api/file/images/2026/05/25a8bb77c8bde846389f9208b932a27833.jpg\"]','u003','market',2400.00,'徐汇区',1,1,'2026-05-18 19:05:09','2026-05-25 10:42:20','active','');
/*!40000 ALTER TABLE `t_market_item` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_message`
--

DROP TABLE IF EXISTS `t_message`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_message` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '消息ID',
  `sender_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'sender id',
  `receiver_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT 'receiver id',
  `content` text NOT NULL COMMENT '消息内容',
  `is_read` tinyint(1) DEFAULT '0' COMMENT '是否已读',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `message_type` varchar(20) DEFAULT 'text' COMMENT 'message type: text/image',
  `media_url` varchar(500) DEFAULT '' COMMENT 'media url for image message',
  PRIMARY KEY (`id`),
  KEY `idx_sender` (`sender_id`),
  KEY `idx_receiver` (`receiver_id`),
  KEY `idx_conversation` (`sender_id`,`receiver_id`),
  KEY `idx_create_time` (`create_time` DESC),
  KEY `idx_msg_sender_receiver_time` (`sender_id`,`receiver_id`,`create_time`),
  KEY `idx_msg_receiver_sender_read_time` (`receiver_id`,`sender_id`,`is_read`,`create_time`),
  KEY `idx_message_sender_receiver_time` (`sender_id`,`receiver_id`,`create_time` DESC),
  KEY `idx_message_receiver_read_time` (`receiver_id`,`is_read`,`create_time` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='消息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_message`
--

LOCK TABLES `t_message` WRITE;
/*!40000 ALTER TABLE `t_message` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_message` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_news`
--

DROP TABLE IF EXISTS `t_news`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_news` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '动态ID',
  `author_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '作者ID',
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '标题',
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '动态内容',
  `location` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '位置',
  `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '生活记录' COMMENT '分类',
  `likes` int DEFAULT '0' COMMENT '点赞数',
  `comments_count` int DEFAULT '0' COMMENT '评论数',
  `images` varchar(2000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `shares` int DEFAULT '0' COMMENT '分享数',
  `collections` int DEFAULT '0' COMMENT '收藏数',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `reject_reason` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `idx_author` (`author_id`),
  KEY `idx_create_time` (`create_time` DESC),
  KEY `idx_likes` (`likes` DESC),
  KEY `idx_news_comments_count` (`comments_count`),
  KEY `idx_news_author_ctime` (`author_id`,`create_time`),
  KEY `idx_news_status_time` (`status`,`create_time` DESC),
  KEY `idx_news_author_time` (`author_id`,`create_time` DESC),
  KEY `idx_news_status_comments_count` (`status`,`comments_count` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=2062573295128412163 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='社区动态表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_news`
--

LOCK TABLES `t_news` WRITE;
/*!40000 ALTER TABLE `t_news` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_news` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_notification`
--

DROP TABLE IF EXISTS `t_notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_notification` (
  `id` bigint NOT NULL COMMENT '通知ID',
  `user_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '用户ID',
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '标题',
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT '内容',
  `time` datetime DEFAULT CURRENT_TIMESTAMP COMMENT '时间',
  `is_read` tinyint(1) DEFAULT '0' COMMENT '是否已读',
  `service_name` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '服务名称',
  `is_processed` tinyint(1) DEFAULT '0' COMMENT '鏄?惁宸插?鐞',
  `order_id` bigint DEFAULT NULL COMMENT '鍏宠仈鐨勮?鍗旾D',
  `related_booking_id` bigint DEFAULT NULL COMMENT '鍏宠仈鐨勯?绾?D',
  PRIMARY KEY (`id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_time` (`time` DESC),
  KEY `idx_notify_user_time` (`user_id`,`time`),
  KEY `idx_notification_time` (`time` DESC),
  KEY `idx_notify_booking` (`related_booking_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='通知表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_notification`
--

LOCK TABLES `t_notification` WRITE;
/*!40000 ALTER TABLE `t_notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_order`
--

DROP TABLE IF EXISTS `t_order`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_order` (
  `id` bigint NOT NULL COMMENT '璁㈠崟ID',
  `booking_id` bigint DEFAULT NULL COMMENT '鍏宠仈鐨勯?绾?D',
  `buyer_id` varchar(64) NOT NULL COMMENT '涔板?ID',
  `seller_id` varchar(64) NOT NULL COMMENT '鍗栧?ID',
  `service_id` bigint DEFAULT NULL COMMENT '鏈嶅姟ID',
  `service_title` varchar(200) DEFAULT NULL COMMENT '鏈嶅姟鏍囬?',
  `price` decimal(10,2) DEFAULT NULL COMMENT '浠锋牸',
  `booking_date` datetime DEFAULT NULL COMMENT '棰勭害鏃ユ湡',
  `booking_time` varchar(50) DEFAULT NULL COMMENT '棰勭害鏃堕棿',
  `duration` int DEFAULT '1' COMMENT '鏈嶅姟鏃堕暱(灏忔椂)',
  `status` varchar(20) DEFAULT 'pending' COMMENT '鐘舵?:pending confirmed completed cancelled',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `completed_time` datetime DEFAULT NULL COMMENT '用户确认完成时间',
  `cancel_reason` varchar(255) DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `idx_buyer_id` (`buyer_id`),
  KEY `idx_seller_id` (`seller_id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_order_buyer_ctime` (`buyer_id`,`create_time`),
  KEY `idx_order_seller_ctime` (`seller_id`,`create_time`),
  KEY `idx_order_buyer_status_ctime` (`buyer_id`,`status`,`create_time`),
  KEY `idx_order_seller_status_ctime` (`seller_id`,`status`,`create_time`),
  KEY `idx_order_buyer_time` (`buyer_id`,`create_time` DESC),
  KEY `idx_order_seller_time` (`seller_id`,`create_time` DESC),
  KEY `idx_order_status_time` (`status`,`create_time` DESC)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='璁㈠崟琛';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_order`
--

LOCK TABLES `t_order` WRITE;
/*!40000 ALTER TABLE `t_order` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_order` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_review_like`
--

DROP TABLE IF EXISTS `t_review_like`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_review_like` (
  `id` bigint NOT NULL,
  `review_id` bigint NOT NULL,
  `user_id` varchar(64) NOT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_review_user` (`review_id`,`user_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_review_like`
--

LOCK TABLES `t_review_like` WRITE;
/*!40000 ALTER TABLE `t_review_like` DISABLE KEYS */;
INSERT INTO `t_review_like` VALUES (2059834177202135041,5,'2056555272571645954'),(2059278167240540162,6,'2056555272571645954');
/*!40000 ALTER TABLE `t_review_like` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_service`
--

DROP TABLE IF EXISTS `t_service`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_service` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '服务ID',
  `title` varchar(200) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '标题',
  `description` text CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci COMMENT '描述',
  `category` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '分类',
  `price` decimal(10,2) NOT NULL COMMENT '价格',
  `seller_id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '服务商ID',
  `rating` double DEFAULT '0' COMMENT '评分',
  `reviews` int DEFAULT '0' COMMENT '评价数',
  `distance` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '距离',
  `unit` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '单位',
  `highlights` varchar(1000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `images` varchar(2000) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'active',
  `reject_reason` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  `area` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  `phone` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  PRIMARY KEY (`id`),
  KEY `idx_seller` (`seller_id`),
  KEY `idx_category` (`category`),
  KEY `idx_rating` (`rating` DESC),
  KEY `idx_create_time` (`created_at` DESC),
  KEY `idx_service_seller_created` (`seller_id`,`created_at`),
  KEY `idx_service_seller_id` (`seller_id`,`id`),
  KEY `idx_service_status_id` (`status`,`id` DESC),
  KEY `idx_service_seller_time` (`seller_id`,`created_at` DESC),
  KEY `idx_service_seller_id_id` (`seller_id`,`id` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=2062571061279850498 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='生活服务表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_service`
--

LOCK TABLES `t_service` WRITE;
/*!40000 ALTER TABLE `t_service` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_service` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_service_review`
--

DROP TABLE IF EXISTS `t_service_review`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_service_review` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `service_id` bigint NOT NULL COMMENT '服务ID',
  `user_id` varchar(64) NOT NULL COMMENT '用户ID',
  `user_name` varchar(50) NOT NULL COMMENT '用户名',
  `user_avatar` varchar(255) DEFAULT '' COMMENT '用户头像',
  `rating` int NOT NULL COMMENT '评分1-5',
  `content` text COMMENT '评价内容',
  `likes` int DEFAULT '0' COMMENT '点赞数',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `status` varchar(20) DEFAULT 'normal',
  PRIMARY KEY (`id`),
  KEY `idx_service_id` (`service_id`),
  KEY `idx_user_id` (`user_id`),
  KEY `idx_sr_service_ctime` (`service_id`,`create_time`),
  KEY `idx_review_service_status_time` (`service_id`,`status`,`create_time` DESC),
  KEY `idx_service_review_status_rating` (`service_id`,`status`,`rating` DESC)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='服务评价表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_service_review`
--

LOCK TABLES `t_service_review` WRITE;
/*!40000 ALTER TABLE `t_service_review` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_service_review` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_test_images`
--

DROP TABLE IF EXISTS `t_test_images`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_test_images` (
  `id` bigint NOT NULL AUTO_INCREMENT,
  `images` json DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_test_images`
--

LOCK TABLES `t_test_images` WRITE;
/*!40000 ALTER TABLE `t_test_images` DISABLE KEYS */;
INSERT INTO `t_test_images` VALUES (1,'[\"http://test.com/1.jpg\"]');
/*!40000 ALTER TABLE `t_test_images` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `t_user`
--

DROP TABLE IF EXISTS `t_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `t_user` (
  `id` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '用户ID',
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '昵称',
  `email` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '邮箱',
  `password` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci NOT NULL COMMENT '密码',
  `avatar` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '头像URL',
  `tag` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '标签',
  `bio` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '' COMMENT '个人简介',
  `profile_visible` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'public' COMMENT '个人资料可见性:public/friends',
  `posts_visible` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'public' COMMENT '动态可见性:public/friends',
  `show_location` tinyint(1) DEFAULT '1' COMMENT '是否显示位置:1显示 0隐藏',
  `latitude` double DEFAULT NULL,
  `longitude` double DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT '0' COMMENT '是否认证',
  `followers_count` int DEFAULT '0' COMMENT '粉丝数',
  `following_count` int DEFAULT '0' COMMENT '关注数',
  `created_at` datetime DEFAULT CURRENT_TIMESTAMP,
  `updated_at` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `rating` double DEFAULT '5',
  `sold_count` int DEFAULT '0',
  `phone` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  `region` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT '',
  `status` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'normal',
  `admin_role` varchar(32) CHARACTER SET utf8mb4 COLLATE utf8mb4_unicode_ci DEFAULT 'USER',
  `push_enabled` tinyint(1) DEFAULT '1',
  `message_notify` tinyint(1) DEFAULT '1',
  `follow_notify` tinyint(1) DEFAULT '1',
  `like_notify` tinyint(1) DEFAULT '1',
  `comment_notify` tinyint(1) DEFAULT '1',
  `system_notify` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`),
  KEY `idx_email` (`email`),
  KEY `idx_name` (`name`),
  KEY `idx_user_created` (`created_at` DESC),
  KEY `idx_user_admin_role` (`admin_role`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci COMMENT='用户表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `t_user`
--

LOCK TABLES `t_user` WRITE;
/*!40000 ALTER TABLE `t_user` DISABLE KEYS */;
/*!40000 ALTER TABLE `t_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping events for database 'neighborhood_db'
--

--
-- Dumping routines for database 'neighborhood_db'
--
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-05  8:02:59
